<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}K&amp;R - Content Management System{% endblock %}</title>

		{% block stylesheets %}
			<link href="{{ asset('bundles/krsolutionskrcms/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
			<link href="{{ asset('bundles/krsolutionskrcms/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
			<link href="{{ asset('bundles/krsolutionskrcms/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
			<link href="{{ asset('bundles/krsolutionskrcms/css/sb-admin.css') }}" rel="stylesheet" />
			<link href="{{ asset('bundles/krsolutionskrcms/css/application.css') }}" rel="stylesheet" />

			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
		{% endblock %}

	</head>
	<body>
		{% if site is defined and site is not null and site.id %}
			{% set activeSite = site %}
		{% elseif page is defined %}
			{% set activeSite = page.site %}
		{% elseif menu is defined %}
			{% set activeSite = menu.site %}
		{% else %}
			{% set activeSite = null %}
		{% endif %}

		<div id="wrapper">
			{{ render(controller('KRSolutionsKRCMSBundle:Admin:menu', { 'activeSite': activeSite, 'route': app.request.attributes.get('_route') })) }}

			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row">
						{% block header %}
						{% endblock %}
					</div>

					{% include 'KRSolutionsKRCMSBundle::alerts.html.twig' %}

					<div class="row">
						{% block content %}
						{% endblock %}
					</div>

					<div id="page-footer" class="row">
						<img src="{{ asset('bundles/krsolutionskrcms/images/logo-sm.png') }}" alt="K&amp;R" /> Content Management System
					</div>
				</div>
			</div>
		</div>

		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('bundles/krsolutionskrcms/vendor/jquery/dist/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/krsolutionskrcms/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/krsolutionskrcms/vendor/TableDnD/js/jquery.tablednd.0.8.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/krsolutionskrcms/vendor/ckeditor/ckeditor.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/krsolutionskrcms/js/application.js') }}"></script>
		{% endblock %}

	</body>
</html>