<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">{{ 'layout.toggle_navigation'|trans({}, 'KRSolutionsKRCMSBundle') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('kr_solutions_krcms_dashboard') }}"><img src="{{ asset('bundles/krsolutionskrcms/images/logo.png') }}" alt="K&R" /> <span class="hidden-xs">Content Management System</span></a>
    </div>

    <ul class="nav navbar-right top-nav">
        {# Configuration #}
        {% if is_granted(managementRoles['page_types']) %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-cog"></i> {{ 'layout.menu.configuration'|trans({}, 'KRSolutionsKRCMSBundle') }} <i class="fa fa-fw fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    {% if is_granted(managementRoles['page_types']) %}
                        <li{% if route == 'kr_solutions_krcms_page_types_index' %} class="active" {% endif %}>
                            <a href="{{ path('kr_solutions_krcms_page_types_index') }}"><i class="fa fa-fw fa-cog"></i> {{ 'layout.menu.page_types'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {# User #}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> {{ app.user }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> {{ 'layout.logout'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li{% if route == 'kr_solutions_krcms_dashboard' %} class="active" {% endif %}>
                <a href="{{ path('kr_solutions_krcms_dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> {{ 'layout.menu.dashboard'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
            </li>
            <li{% if route == 'kr_solutions_krcms_pages_index' %} class="active"{% endif %}>
                <a href="{{ path('kr_solutions_krcms_pages_index') }}"><i class="fa fa-fw fa-files-o"></i> {{ 'layout.menu.pages'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
            </li>
            {#{% if is_granted(managementRoles['categories']) %}
                <li{% if route == 'kr_solutions_krcms_categories_index' %} class="active" {% endif %}>
                    <a href="{{ path('kr_solutions_krcms_categories_index') }}"><i class="fa fa-fw fa-leaf"></i> {{ 'layout.menu.categories'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                </li>
            {% endif %}#}
            {% if is_granted(managementRoles['menus']) %}
                <li{% if route == 'kr_solutions_krcms_menus_index' %} class="active" {% endif %}>
                    <a href="{{ path('kr_solutions_krcms_menus_index') }}"><i class="fa fa-fw fa-list"></i> {{ 'layout.menu.menus'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                </li>
            {% endif %}
            <li{% if route == 'kr_solutions_krcms_sliders_index' %} class="active" {% endif %}>
                <a href="{{ path('kr_solutions_krcms_sliders_index') }}"><i class="fa fa-fw fa-image"></i> {{ 'layout.menu.sliders'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
            </li>
            {% if helpDeskEnabled %}
                <li{% if route == 'kr_solutions_krcms_helpdesk' %} class="active" {% endif %}>
                    <a href="{{ path('kr_solutions_krcms_helpdesk') }}"><i class="fa fa-fw fa-question"></i> {{ 'layout.menu.helpdesk'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>