<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">K&amp;R Content Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li{% if route == 'kr_solutions_krcms_dashboard' %} class="active" {% endif %}>
					<a href="{{ path('kr_solutions_krcms_dashboard') }}"><i class="fa fa-home"></i> {{ 'layout.menu.dashboard'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
				</li>
				<li{% if route == 'kr_solutions_krcms_pages_index' %} class="active" {% endif %}>
					{% if sites|length == 1 %}
					<li{% if route == 'kr_solutions_krcms_pages_index' %} class="active" {% endif %}>
						<a href="{{ path('kr_solutions_krcms_pages_index', { 'siteId': sites[0].id }) }}"><i class="fa fa-files-o"></i> {{ 'layout.menu.manage_pages'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
					</li>
				{% else %}
					<li class="dropdown{% if route == 'kr_solutions_krcms_pages_index' %} active{% endif %}">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-list"></i> {{ 'layout.menu.manage_pages'|trans({}, 'KRSolutionsKRCMSBundle') }}<b class="caret"></b></a>

						<ul class="dropdown-menu">
							{% for site in sites %}
								<li{% if activeSite is defined and activeSite is not null and activeSite == site %} class="active" {% endif %}>
									<a href="{{ path('kr_solutions_krcms_pages_index', { 'siteId': site.id }) }}"><i class="fa fa-file"></i> {{ site.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
				{% if helpDeskEnabled %}
					<li{% if route == 'kr_solutions_krcms_helpdesk' %} class="active" {% endif %}>
						<a href="{{ path('kr_solutions_krcms_helpdesk') }}"><i class="fa fa-question"></i> {{ 'layout.menu.helpdesk'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li{% if route == 'kr_solutions_krcms_categories_index' %} class="active" {% endif %}>
						<a href="{{ path('kr_solutions_krcms_categories_index') }}"><i class="fa fa-leaf"></i> {{ 'layout.menu.categories'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li{% if route == 'kr_solutions_krcms_menus_index' %} class="active" {% endif %}>
						<a href="{{ path('kr_solutions_krcms_menus_index') }}"><i class="fa fa-list"></i> {{ 'layout.menu.menus'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li{% if route == 'kr_solutions_krcms_sites_index' %} class="active" {% endif %}>
						<a href="{{ path('kr_solutions_krcms_sites_index') }}"><i class="fa fa-book"></i> {{ 'layout.menu.sites'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'KRSolutionsKRCMSBundle') }} ({{ app.user }})</a>
				</li>
			</ul>
        </div>
	</div>
</nav>