{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}

{% block title %}Menu wijzigen - Content Management Systeem{% endblock %}

{% block content %}

<header class="jumbotron subhead">
	<h1>Menu wijzigen</h1>
</header>

<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<form action="{{ path('kr_solutions_krcms_menu_edit', { 'menuId': menu.id }) }}" method="post" {{ form_enctype(menuForm) }} novalidate="novalidate">
				<fieldset>
					<legend>Menu wijzigen</legend>

					{% if form_errors(menuForm) %}
					<div class="alert alert-error">
						<a class="close" data-dismiss="alert" href="#">×</a>
						<h4 class="alert-heading">Fout!</h4>
						{{ form_errors(menuForm) }}
					</div>
					{% endif %}

					<div class="control-group{% if menuForm.name.vars.errors|length %} error{% endif %}">
						{{ form_label(menuForm.name) }}
						{{ form_widget(menuForm.name, { 'attr': {'class': 'span10'} }) }}
					</div>

					<div class="control-group{% if form_errors(menuForm.description) %} error{% endif %}">
						{{ form_label(menuForm.description) }}
						{{ form_widget(menuForm.description, { 'attr': {'class': 'span10'} }) }}
					</div>

					{{ form_rest(menuForm) }}
				</fieldset>
				<input class="btn btn-primary" type="submit" value="Menu wijzigen" />
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}