{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}

{% block title %}Privileges - Content Management Systeem{% endblock %}

{% block content %}

<header class="jumbotron subhead">
	<h1>Privileges</h1>
	<p class="lead">Gebruik dit scherm om de gebruikers privileges te beheren. Om een nieuwe privilege aan te maken klikt u op <span class="label label-info">Privilege toevoegen</span></p>
</header>

<div class="row-fluid">
	<div class="span4">
		<div class="well">
			<form action="{{ path('kr_solutions_krcms_privileges_index') }}" method="post" {{ form_enctype(privilegeForm) }} novalidate="novalidate">
				<fieldset>
					<legend>Privilege toevoegen</legend>

					{% if form_errors(privilegeForm) %}
					<div class="alert alert-error">
						<a class="close" data-dismiss="alert" href="#">×</a>
						<h4 class="alert-heading">Fout!</h4>
						{{ form_errors(privilegeForm) }}
					</div>
					{% endif %}

					<div class="control-group{% if privilegeForm.name.vars.errors|length %} error{% endif %}">
						{{ form_label(privilegeForm.name) }}
						{{ form_widget(privilegeForm.name, { 'attr': {'class': 'span10'} }) }}
					</div>

					<div class="control-group{% if form_errors(privilegeForm.description) %} error{% endif %}">
						{{ form_label(privilegeForm.description) }}
						{{ form_widget(privilegeForm.description, { 'attr': {'class': 'span10'} }) }}
					</div>

					{{ form_rest(privilegeForm) }}
				</fieldset>
				<input class="btn btn-primary" type="submit" value="privilege toevoegen" />
			</form>
		</div>
	</div>
	<div class="span8">
		<div class="well">
			{% if privileges|length > 0 %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 20%;">Naam</th>
						<th>Omschrijving</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for privilege in privileges %}
					<tr>
						<td><a href="{{ path('kr_solutions_krcms_privilege_edit', { 'privilegeId': privilege.id }) }}" title="privilege wijzigen"><b>{{ privilege.name }}</b></a></td>
						<td>{{ privilege.description }}</td>
						<td class="btn-toolbar">
							<div class="btn-group pull-right">
								<a id="privileges_edit_{{ privilege.id }}" href="{{ path('kr_solutions_krcms_privilege_edit', { 'privilegeId': privilege.id }) }}" class="privileges_edit btn"><i class="icon-edit"></i> Wijzigen</a>
								<a id="privileges_remove_{{ privilege.id }}" href="javascript:void(0)" class="privileges_remove btn"><i class="icon-trash"></i> Verwijderen</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>Er zijn nog geen privilege's toegevoegd.</p>
				<p>Klik op <strong>"privilege toevoegen"</strong> aan de rechterkant om een privilege toe te voegen.</p>
			{% endif %}
		</div>
	</div>
</div>

{# Modals #}
<div class="modal hide" id="privileges_remove_modal">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Privilege verwijderen</h3>
    </div>
    <div class="modal-body">
		<p>Weet u zeker dat u dit privilege wilt verwijderen?</p>
		<p><small>Alle pagina's onder dit privilege worden verborgen! Deze dient u zelf opnieuw te koppelen aan een ander privilege.</small></p>
    </div>
    <div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Annuleren</a>
		<a href="#" class="btn btn-danger" id="privilege_remove_action">Verwijderen</a>
    </div>
</div>
{# End modals #}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript" lang="javascript">
	$(document).ready(function() {
		$('.privileges_remove').on('click', function() {
			var privilege_id = this.id.replace('privileges_remove_', '');
			var remove_url_holder = '{{ path('kr_solutions_krcms_privilege_remove', {'privilegeId': 'privilege_ID_PLACE_HOLDER'}) }}';

			$('#privilege_remove_action').attr('href', remove_url_holder.replace('privilege_ID_PLACE_HOLDER', privilege_id));
			$('#privileges_remove_modal').modal('show');
		});
	});
</script>

{% endblock %}