{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}

{% block title %}Gebruikers - Content Management Systeem{% endblock %}

{% block content %}

<header class="jumbotron subhead">
	<h1>Gebruikers</h1>
	<p class="lead">Gebruik dit scherm om de gebruikers te beheren. Om een nieuwe gebruiker aan te maken klikt u op <span class="label label-info">Gebruiker toevoegen</span></p>
</header>

<div class="row-fluid">
	<div class="span4">
		<div class="well">
			<form action="{{ path('kr_solutions_krcms_users_index') }}" method="post" {{ form_enctype(userForm) }} novalidate="novalidate">
				<fieldset>
					<legend>Gebruiker toevoegen</legend>

					{% if form_errors(userForm) %}
					<div class="alert alert-error">
						<a class="close" data-dismiss="alert" href="#">×</a>
						<h4 class="alert-heading">Fout!</h4>
						{{ form_errors(userForm) }}
					</div>
					{% endif %}

					<div class="control-group{% if userForm.email.vars.errors|length %} error{% endif %}">
						{{ form_label(userForm.email) }}
						{{ form_widget(userForm.email, { 'attr': {'class': 'span10'} }) }}
					</div>

					<div class="control-group{% if form_errors(userForm.password) %} error{% endif %}">
						{{ form_label(userForm.password) }}
						{{ form_widget(userForm.password, { 'attr': {'class': 'span10'} }) }}
					</div>

					{{ form_rest(userForm) }}
				</fieldset>
				<input class="btn btn-primary" type="submit" value="Gebruiker toevoegen" />
			</form>
		</div>
	</div>
	<div class="span8">
		<div class="well">
			{% if users|length > 0 %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 20%;">E-mail</th>
						<th>Actief</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for user in users %}
					<tr>
						<td><a href="{{ path('kr_solutions_krcms_user_edit', { 'userId': user.id }) }}" title="Gebruiker wijzigen"><b>{{ user.email }}</b></a></td>
						<td>{{ user.isActive }}</td>
						<td class="btn-toolbar">
							<div class="btn-group pull-right">
								<a id="users_edit_{{ user.id }}" href="{{ path('kr_solutions_krcms_user_edit', { 'userId': user.id }) }}" class="users_edit btn"><i class="icon-edit"></i> Wijzigen</a>
								<a id="users_remove_{{ user.id }}" href="javascript:void(0)" class="users_remove btn"><i class="icon-trash"></i> Verwijderen</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>Er zijn nog geen gebruikers toegevoegd.</p>
				<p>Klik op <strong>"gebruiker toevoegen"</strong> aan de rechterkant om een gebruiker toe te voegen.</p>
			{% endif %}
		</div>
	</div>
</div>

{# Modals #}
<div class="modal hide" id="users_remove_modal">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Gebruiker verwijderen</h3>
    </div>
    <div class="modal-body">
		<p>Weet u zeker dat u deze gebruiker wilt verwijderen?</p>
		<p><small>Als er nog pagina's aanwezig zijn die door deze gebruiker gemaakt zijn, dan is het niet mogelijk deze gebruiker te verwijderen. In dat geval kunt u beter de gebruiker op inactief zetten.</small></p>
    </div>
    <div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Annuleren</a>
		<a href="#" class="btn btn-danger" id="user_remove_action">Verwijderen</a>
    </div>
</div>
{# End modals#}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript" lang="javascript">
	$(document).ready(function() {
		$('.privileges_remove').on('click', function() {
			var privilege_id = this.id.replace('privileges_remove_', '');
			var remove_url_holder = '{{ path('kr_solutions_krcms_privilege_remove', {'privilegeId': 'privilege_ID_PLACE_HOLDER'}) }}';

			$('#privilege_remove_action').attr('href', remove_url_holder.replace('privilege_ID_PLACE_HOLDER', privilege_id));
			$('#privileges_remove_modal').modal('show');
		});
	});
</script>

{% endblock %}