{% form_theme pageTypeForm 'KRSolutionsKRCMSBundle::bootstrap_3_layout.html.twig' %}

{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}

{% block title %}{% if action == 'new' %}{{ 'page_type.add_page_type'|trans({}, 'KRSolutionsKRCMSBundle') }}{% else %}{{ 'page_type.edit_page_type'|trans({}, 'KRSolutionsKRCMSBundle') }}{% endif %} - Content Management Systeem{% endblock %}

{% block header %}
	<div class="col-lg-8">
		<h1 class="page-header">
			{% if action == 'new' %}
				{{ 'page_type.add_page_type'|trans({}, 'KRSolutionsKRCMSBundle') }}
			{% else %}
				{{ 'page_type.edit_page_type'|trans({}, 'KRSolutionsKRCMSBundle') }}

                {% if pageType.name %}
                    <small>{{ pageType.name }}</small>
                {% endif %}
			{% endif %}
		</h1>
	</div>
	<div class="col-lg-4">
		<div class="page-header pull-right">
			<div class="btn-group">
				<a id="save_page_type" href="javascript:void(0);" class="btn btn-primary"><i class="fa fa-fw fa-save"></i> {{ 'layout.save'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
				<a class="btn btn-default" href="{{ path('kr_solutions_krcms_page_types_index') }}" title="{{ 'page_type.back_to_page_type_overview'|trans({}, 'KRSolutionsKRCMSBundle') }}"><i class="fa fa-fw fa-stop"></i> {{ 'layout.cancel'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="well">
            {{ form_start(pageTypeForm, {attr: {id: 'pageTypeForm', novalidate: 'novalidate'} }) }}
                {{ form_errors(pageTypeForm) }}
                {{ form_rest(pageTypeForm) }}

				<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-save"></i> {{ 'layout.save'|trans({}, 'KRSolutionsKRCMSBundle') }}</button>
			{{ form_end(pageTypeForm) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function () {
			$('#save_page_type').on('click', function () {
				$('#pageTypeForm').submit();
			});
		});
	</script>
{% endblock %}