{% form_theme contactForm 'bootstrap_3_layout.html.twig' %}

{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}


{% block title %}Helpdesk - Content Management Systeem{% endblock %}

{% block header %}
	<div class="col-lg-12">
		<h1 class="page-header">{{ 'helpdesk.title' | trans({}, 'KRSolutionsKRCMSBundle') }}</h1>
		<p class="lead">{{ 'helpdesk.lead' | trans({}, 'KRSolutionsKRCMSBundle') }}</p>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="well">
			<form method="post" action="{{ path ('kr_solutions_krcms_helpdesk') }}" novalidate="novalidate" {{ form_enctype(contactForm) }}>
				{{ form_rest(contactForm) }}
				<button class="btn btn-default pull-right" type="submit">{{ 'helpdesk.submit' | trans({}, 'KRSolutionsKRCMSBundle') }}</button>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}