{% form_theme sliderImageForm 'KRSolutionsKRCMSBundle::bootstrap_3_layout.html.twig' %}

{% extends 'KRSolutionsKRCMSBundle::layout.html.twig' %}

{% block title %}Afbeeldingen beheren van "{{ slider.name }}" - Content Management Systeem{% endblock %}

{% block header %}
    <h1 class="page-header">{{ 'sliderImage.index.header.manage_files'|trans({ '%page_title%': slider.name }, 'KRSolutionsKRCMSBundle')|raw }}</h1>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="well">
            <h2>{{ 'sliderImage.index.header.sliderImages'|trans({ '%slider_name%': slider.name }, 'KRSolutionsKRCMSBundle')|raw }}</h2>

            {% if slider.sliderImages|length > 0 %}
                {% for sliderImage in slider.sliderImages %}
                    <div id="file_{{ sliderImage.id }}" class="col-sm-6 col-md-4 col-lg-3">
                        <div class="thumbnail">
                            <img src="{{ asset(uploadDir ~ '/' ~ sliderImage.uri) }}" alt="{{ sliderImage.title }}">
                            <div class="caption">
                                <h3>{{ sliderImage.title }}</h3>
                                <p>{{ sliderImage.subtitle }}</p>
                                <p>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#file_edit_modal" data-file_id="{{ sliderImage.id }}" title="{{ 'sliderImage.edit_file'|trans({}, 'KRSolutionsKRCMSBundle') }}">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#file_remove_modal" data-file_id="{{ sliderImage.id }}" title="{{ 'sliderImage.remove_file'|trans({}, 'KRSolutionsKRCMSBundle') }}">
                                        <i class="fa fa-fw fa-trash-o"></i>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {{ 'sliderImage.no_files'|trans({ '%page_title%': slider.name }, 'KRSolutionsKRCMSBundle') }}
            {% endif%}

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="well">
            <form id="sliderImageForm" action="{{ path('kr_solutions_krcms_slider_images', { 'sliderId': slider.id }) }}" method="post" id="sliderImageForm" {{ form_enctype(sliderImageForm) }} novalidate="novalidate">
                <fieldset>
                    <legend>{{ 'sliderImage.add_file'|trans({}, 'KRSolutionsKRCMSBundle') }}</legend>

                    {% if form_errors(sliderImageForm) %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'layout.close'|trans({}, 'KRSolutionsKRCMSBundle') }}</span></button>
                            <h4>{{ 'layout.form_error_alert_heading'|trans({}, 'KRSolutionsKRCMSBundle') }}</h4>
                            {{ form_errors(sliderImageForm) }}
                        </div>
                    {% endif %}

                    <div class="form-group{% if sliderImageForm.uri.vars.errors|length %} has-error{% endif %}">
                        {{ form_label(sliderImageForm.uri) }}
                        {{ form_widget(sliderImageForm.uri, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group{% if sliderImageForm.title.vars.errors|length %} has-error{% endif %}">
                        {{ form_label(sliderImageForm.title) }}
                        {{ form_widget(sliderImageForm.title, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group{% if form_errors(sliderImageForm.subtitle) %} has-error{% endif %}">
                        {{ form_label(sliderImageForm.subtitle) }}
                        {{ form_widget(sliderImageForm.subtitle, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    {{ form_rest(sliderImageForm) }}
                </fieldset>
                <input class="btn btn-primary" type="submit" value="{{ 'layout.save'|trans({}, 'KRSolutionsKRCMSBundle') }}" />
            </form>
        </div>
    </div>

    {# Modals #}
    <div class="modal fade" id="file_remove_modal" tabindex="-1" role="dialog" aria-labelledby="file_remove_modal_title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="file_remove_modal_title">{{ 'sliderImage.remove_file'|trans({}, 'KRSolutionsKRCMSBundle') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'sliderImage.remove_confirmation.title'|trans({}, 'KRSolutionsKRCMSBundle') }}</p>
                    <p><small>{{ 'sliderImage.remove_confirmation.message'|trans({}, 'KRSolutionsKRCMSBundle') }}</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'layout.cancel'|trans({}, 'KRSolutionsKRCMSBundle') }}</button>
                    <a href="#" type="button" class="btn btn-primary file_remove_action">{{ 'layout.remove'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="file_edit_modal" tabindex="-1" role="dialog" aria-labelledby="file_edit_modal_title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="file_remove_modal_title">{{ 'sliderImage.edit_file'|trans({}, 'KRSolutionsKRCMSBundle') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'sliderImage.remove_confirmation.title'|trans({}, 'KRSolutionsKRCMSBundle') }}</p>
                    <p><small>{{ 'sliderImage.remove_confirmation.message'|trans({}, 'KRSolutionsKRCMSBundle') }}</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'layout.cancel'|trans({}, 'KRSolutionsKRCMSBundle') }}</button>
                    <a href="#" type="button" class="btn btn-primary file_remove_action">{{ 'layout.remove'|trans({}, 'KRSolutionsKRCMSBundle') }}</a>
                </div>
            </div>
        </div>
    </div>
    {# End modals #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#file_remove_modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var fileId = button.data('file_id');
                var remove_url_holder = 'javascript:deleteFile(FILE_ID_HOLDER)';

                var modal = $(this);
                modal.find('.file_remove_action').attr('href', remove_url_holder.replace('FILE_ID_HOLDER', fileId));
            });
        });

        function deleteFile(id) {
            $.ajax({
                url: '{{ path('kr_solutions_krcms_slider_images_remove') }}',
                type: 'POST',
                dataType: 'json',
                data: 'slider_image_id=' + id,
                success: function (data) {
                    $('#file_remove_modal').modal('hide');

                    if (data.success === true) {
                        $('#file_' + id).remove();
                        alert('{{ 'sliderImage.file_removed'|trans({ '%page_title%': slider.name }, 'KRSolutionsKRCMSBundle')|raw }}');
                    } else {
                        $('#file_' + id).remove();
                        alert('{{ 'sliderImage.file_not_exist'|trans({ '%page_title%': slider.name }, 'KRSolutionsKRCMSBundle')|raw }}');
                    }
                }
            });
        }
    </script>
{% endblock %}